
@{
}
<br />
<br />
<center>
    <section>
        <div class="mar w-50">
            <div class="card-body">
                <div class="text-center">
                    <h1>
                        <img src="./multimedia/logo.png" alt="" width="40">
                        <b>EasyJob</b>
                    </h1>
                </div>
                <form class="row g-3 needs-validation" novalidate>
                    <div class="col-md-6">
                        <label for="validationCustom01" class="form-label"><b>Nombres: </b></label>
                        <input type="text" class="form-control" id="validationCustom01" value="" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="validationCustom02" class="form-label"><b>Apellidos:</b></label>
                        <input type="text" class="form-control" id="validationCustom02" value="" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="validationCustom04" class="form-label"><b>Genero:</b></label><br>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label" for="inlineRadio1">Masculino</label>
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label" for="inlineRadio2">Femenino</label>
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">

                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="validationCustom05" class="form-label"><b>Fecha de nacimiento:</b></label><br>
                        <input type="date" id="start" name="trip-start" value="2023-05-27" min="1940-01-01" max="2023-05-27" required>
                        <div class="invalid-feedback">
                            Prueba otra fecha
                        </div>
                    </div>
                    <div>
                        <label for="validationCustom06" class="form-label"><b>Nivel academico:</b></label><br>
                        <div class="row g-2 align-items-center">
                            <div class="col-auto">
                                <label class="col-form-label"><i class="fa-sharp fa-solid fa-school"></i> Educació media </label>
                            </div>
                            <div class="col-8">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="row g-2  mt-2 align-items-center">
                            <div class="col-auto">
                                <label class="col-form-label"><i class="fa-sharp fa-solid fa-building-columns"></i> Educació superior </label>
                            </div>
                            <div class="col-8">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="row g-2  mt-2 align-items-center">
                            <div class="col-auto">
                                <label class="col-form-label"><i class="fa-solid fa-certificate"></i> Cursos </label>
                            </div>
                            <div class="col-8">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Correo electrónico: </label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nombre@ejemplo.com">
                    </div>
                    <div class="col-md-6">
                        <label for="validationCustom07" class="form-label"><b>Usuario: </b></label>
                        <input type="text" class="form-control" id="validationCustom01" value="" required>
                    </div>
                    <div class="col-md-6">
                        <label for="validationCustom08" class="form-label"><b>Contraseña: </b></label>
                        <input type="password" class="form-control" id="validationCustom01" value="" required>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="bt text-bg-primary w-50"><b>Registrarse</b></button>
                        <p class="text-muted">¿Ya tienes cuenta? <a href="#">Inicia sesión</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
</center>
<br />
<br />