@{
}
<br />
<br />
    <section>
        <center>
        <div class="mar w-25">
            <div class="card-body">
                <div class="text-center">
                    <h1>
                        <img src="./multimedia/logo.png" alt="" width="40">
                        <b>EasyJob</b>
                    </h1>
                </div>
                <form>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label"><b>Correo:</b></label>
                        <div class="input-group mt-2">
                            <span class="input-group-text"><i class="bi bi-person-circle"></i></span>
                            <input type="email" class="form-control">
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label"><b>Contraseña:</b></label>
                        <div class="input-group mt-2">
                            <span class="input-group-text"><i class="bi bi-lock"></i></span>
                            <input type="password" class="form-control">
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="bt text-bg-primary w-50"><b>Iniciar sesión</b></button>
                        <p>o</p>
                        <button class="bt btn-light" style="background-color: #e0e1ea" href="#!">
                            <img src="./multimedia/logoG.png" alt="" width="35"><b style="color: #6e6e76">Continua con Google</b>
                        </button>
                        <p class="text-muted">¿Eres nuevo? <a href="#"> Registrate</a></p>
                    </div>

                </form>
            </div>
        </div>
        </center>

    </section>
<br />
<br />