@model JobSearch_Grupo7.Models.sources_pages

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>sources_pages</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id_source" />
            <div class="form-group">
                <label asp-for="linksToSource" class="control-label"></label>
                <input asp-for="linksToSource" class="form-control" />
                <span asp-validation-for="linksToSource" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="advice_day" class="control-label"></label>
                <input asp-for="advice_day" class="form-control" />
                <span asp-validation-for="advice_day" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contact" class="control-label"></label>
                <input asp-for="contact" class="form-control" />
                <span asp-validation-for="contact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mail" class="control-label"></label>
                <input asp-for="mail" class="form-control" />
                <span asp-validation-for="mail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
